{{ define "index" }}

{{ template "header" }}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
            the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Learn more</a>
        </p>

        {{ range . }}

        <div class="alert alert-danger">
            <h2>{{ .Title }}</h2>
            <p>{{ .Anons }}</p>
            <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее</a>
            <p>{{ .FullText }}</p>
        </div>

        {{ else }}

        <p class="lead">Статей нет :(</p>

        {{ end }}

    </main>
</div>

{{ template "footer" }}

{{ end }}